<div class = "container">
  <%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="text-center">
      <%= form.label :写真 %><br>
      <%= form.file_field :image  %>
    </div>
    <div class="text-center">
      <%= form.label :ブランド名 %><br>
      <%= form.text_field :brand,class:"form-control" %>
    </div>
    <div class="text-center">
      <%= form.label :スニーカー名 %><br>
      <%= form.text_field :title ,class:"form-control"%>
    </div>
    <div class="text-center">
      <%= form.label :発売日 %><br>
      <%= form.date_field :release_day %>
  </div>
  <br>
    <div class="actions text-center">
      <%= form.submit class:"btn btn-primary" %>
    </div>
  <% end %>
</div>